<mat-nav-list>
    <div class="profil-card">
        <div class="header"></div>
        <h2>Bienvenue ! </h2>
        <h4>Consulter vos KPI'S ci-dessous</h4>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="MESSADI Khalil">

    </div>
<h2 matSubheader>Rapports</h2>

<a mat-list-item routerLinkActive="List-item-active" routerLink="/Kpis">Mes templates </a>

 
  <mat-divider></mat-divider>

      <h2 matSubheader>outils</h2>

      <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
      </a>
      <a mat-list-item routerLinkActive="List-item-active" routerLink="/articles">
        <mat-icon>contact_phone</mat-icon>
        Leads
      </a>

</mat-nav-list>