<mat-nav-list>
    <div class="profil-card">
        <div class="header"></div>
        <h2>MESSADI Khalil</h2>
        <h4>example@neoxam.com</h4>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="MESSADI Khalil">

    </div>
<h2 matSubheader>Rapports</h2>

<a mat-list-item routerLinkActive="List-item-active" routerLink="/">Mon template</a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/posts">Mes templates </a>
<a mat-list-item routerLinkActive="List-item-active" routerLink="/configuration">Creer un template</a>
 
  <mat-divider></mat-divider>

      <h2 matSubheader>outils</h2>

      <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
      </a>
      <a mat-list-item routerLinkActive="List-item-active" routerLink="/articles">
        <mat-icon>contact_phone</mat-icon>
        Leads
      </a>

</mat-nav-list>