
     <br>     <br>
<div  fxLayout="row" fxLayoutAlign="start start">
  

    

      <br>
      <br>
      <br>


    <h3>Nom de l'epic</h3>&nbsp;&nbsp;&nbsp;
      <form class="example-form2">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="{{config.epic}}"
                 [(ngModel)]="epic.nom_epic"
                 matInput
                 [formControl]="myControlEpic"
                 [matAutocomplete]="auto2">
          <mat-autocomplete (optionSelected)="envoyerEpic();" #auto2="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsEpic" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <h3>Sprint n°:</h3>&nbsp;&nbsp;&nbsp;
      <form class="example-form2">
        <mat-form-field class="example-full-width">
          <input type="text"
          placeholder="{{config.sprint}}"
                 [(ngModel)]="sprint.numero_sprint"
                 matInput
                 [formControl]="myControlSprint"
                 [matAutocomplete]="auto3">
          <mat-autocomplete  (optionSelected)="envoyerSprint();" #auto3="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsSprint" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      
      <h3>Version :</h3>&nbsp;&nbsp;&nbsp;
      <form class="example-form2">
        <mat-form-field class="example-full-width">
          <input type="text"
          placeholder="{{config.version}}"
                 [(ngModel)]="version.nom_version"
                 matInput
                 [formControl]="myControlVersion"
                 [matAutocomplete]="auto4">
          <mat-autocomplete  (optionSelected)="envoyerVersion();" #auto4="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsVersion" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>



    </div>
        
      <h2>Intervalle de date :</h2>

      <div fxLayout="row" fxLayoutAlign="start start" >
        <h3>Du : </h3>
        
<form class="Date_form">
      <mat-form-field> 
        <input 
        placeholder="{{config.date_deb}}"
        name="something"
        [(ngModel)]="datedeb.date_deb" (dateChange)=envoyerDateDeb();
        class="form-control"
         matInput [matDatepicker]="myDatePickerDeb">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerDeb"></mat-datepicker-toggle>
        <mat-datepicker  #myDatePickerDeb> </mat-datepicker>
      </mat-form-field>
    </form>
      <h3>Au :  </h3>
      <form class="Date_form">
      <mat-form-field> 
      
        <input
        placeholder="{{config.date_fin}}"
        name="something2"
         class="Date_form" [(ngModel)]="datefin.date_fin" (dateChange)=envoyerDateFin(); matInput [matDatepicker]="myDatePickerFin">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerFin"></mat-datepicker-toggle>
        <mat-datepicker  #myDatePickerFin> </mat-datepicker>
      </mat-form-field>
    </form>
    </div>

    






  <br>
  <br>

<mat-divider>
  
</mat-divider>