
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="panel">

    <div>
      <h2 align="center">Vos Kpi's</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
     
        <tbody>
          <tr *ngFor="let kpi of kpis">
            <td>{{kpi.name}}</td>
            
            <td>
                <a href="{{kpi.linkKpi}}"><button style="background-color:#0ed3b8" class="btn btn-info" >Consulter</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
