<h2 align="center">Configuration du Template</h2>

 
      <div fxLayout="row" fxLayoutAlign="start start">
      <h2>Statut du ticket</h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
      <form class="statut_form">
          <mat-form-field class="example-full-width">
            <mat-label>collaborateur</mat-label>
            <input  class="form-control" [(ngModel)]="statut.nom_statut" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)="envoyerStatut();" #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

      

      <h2>sprint</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="sprint_form">
        <mat-form-field class="example-full-width">
          <input type="text"
          [(ngModel)]="sprint.numero_sprint"
                 placeholder="Choisir Sprint"
            
                 matInput
                 [formControl]="myControlSprintTicket"
                 [matAutocomplete]="auto2">
          <mat-autocomplete      (optionSelected)="envoyerSprint()" #auto2="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsSprintTicket" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    <h2>epic</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="epic_form">
        <mat-form-field class="example-full-width">
          <input
           type="text"
          [(ngModel)]="epic.nom_epic"
                 placeholder="Choisir epic"
                 
                 matInput
                 [formControl]="myControlEpicTicket"
                 [matAutocomplete]="auto3">
          <mat-autocomplete (optionSelected)="envoyerEpic()" #auto3="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsEpicTicket" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>



      <h2>Intervalle de date :</h2>

      <div fxLayout="row" fxLayoutAlign="start start" >
        <h3>Du : </h3>
        
<form class="Date_form">
      <mat-form-field> 
        <input 
        name="something"
        [(ngModel)]="datedeb.date_deb" (dateChange)=envoyerDateDeb();
        class="form-control"
         matInput [matDatepicker]="myDatePickerDeb">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerDeb"></mat-datepicker-toggle>
        <mat-datepicker  #myDatePickerDeb> </mat-datepicker>
      </mat-form-field>
    </form>
      <h3>Au :  </h3>
      <form class="Date_form">
      <mat-form-field> 
      
        <input
        name="something2"
         class="Date_form" [(ngModel)]="datefin.date_fin" (dateChange)=envoyerDateFin(); matInput [matDatepicker]="myDatePickerFin">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerFin"></mat-datepicker-toggle>
        <mat-datepicker  #myDatePickerFin> </mat-datepicker>
      </mat-form-field>
    </form>
    </div>


    
<div align="center">
  <button mat-raised-button color="primary">soumettre configuration</button>
</div>