<h2 align="center">Configuration du Template</h2>

 
      <div fxLayout="row" fxLayoutAlign="start start">
      <h2>Statut du ticket</h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>collaborateur</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

      

      <h2>sprint</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="example-form2">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Choisir statut"
                 
                 matInput
                 [formControl]="myControlEtatTicket"
                 [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsEtatTicket" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    <h2>epic</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="example-form2">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Choisir epic"
                 
                 matInput
                 [formControl]="myControlEtatTicket"
                 [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsEtatTicket" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>

      <h2>Intervalle de date :</h2>

      <div fxLayout="row" fxLayoutAlign="start start" >
        <h3>Du : </h3>
      <mat-form-field> 
        <input matInput [matDatepicker]="myDatePickerDeb">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerDeb"></mat-datepicker-toggle>
        <mat-datepicker #myDatePickerDeb> </mat-datepicker>
      </mat-form-field>
      <h3>Au :  </h3>
      <mat-form-field> 
        <input matInput [matDatepicker]="myDatePickerFin">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerFin"></mat-datepicker-toggle>
        <mat-datepicker #myDatePickerFin> </mat-datepicker>
      </mat-form-field>
    </div>

    
<div align="center">
  <button mat-raised-button color="primary">soumettre configuration</button>
</div>