

      <br>     <br>
      <div fxLayout="row" fxLayoutAlign="start start">
      <h3>Statut du ticket</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
      <form class="statut_form">
          <mat-form-field class="example-full-width">
            <mat-label>{{config.statut}}</mat-label>
            <input  class="form-control" [(ngModel)]="statut.nom_statut" type="text" matInput [formControl]="myControlNom" [matAutocomplete]="auto9">
            <mat-autocomplete (optionSelected)="envoyerStatut();" #auto9="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of inputstatut " [value]="option.descrption">
                {{option.descrption}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <h3>Module</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form class="statut_form">
          <mat-form-field class="example-full-width">
            <mat-label>{{config.nom_module}}</mat-label>
            <input  class="form-control" [(ngModel)]="module.nom_module" type="text" matInput [formControl]="myControlModule" [matAutocomplete]="auto6">
            <mat-autocomplete (optionSelected)="envoyerModule();" #auto6="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of inputmodule" [value]="option.nom">
                {{option.nom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      


 

      <h3>sprint</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="sprint_form">
        <mat-form-field class="example-full-width">
          <input type="text"
          [(ngModel)]="sprint.numero_sprint"
                 placeholder="{{config.sprint}}"
            
                 matInput
                 [formControl]="myControlSprintTicket"
                 [matAutocomplete]="auto2">
          <mat-autocomplete      (optionSelected)="envoyerSprint()" #auto2="matAutocomplete">
            <mat-option *ngFor="let option2 of optionsSprintTicket" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    <h3>epic</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <form class="epic_form">
        <mat-form-field class="example-full-width">
          <input
           type="text"
          [(ngModel)]="epic.nom_epic"
                 placeholder="{{config.epic}}"
                 
                 matInput
                 [formControl]="myControlEpicTicket"
                 [matAutocomplete]="auto3">
          <mat-autocomplete (optionSelected)="envoyerEpic()" #auto3="matAutocomplete">
            <mat-option *ngFor="let option2 of inputepic" [value]="option2.nom">
              {{option2.nom}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      
    <h3>Version :</h3>&nbsp;&nbsp;&nbsp;
    <form class="example-form2">
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="{{config.version}}"
               [(ngModel)]="version.nom_version"
               matInput
               [formControl]="myControlVersion"
               [matAutocomplete]="auto4">
        <mat-autocomplete  (optionSelected)="envoyerVersion();" #auto4="matAutocomplete">
          <mat-option *ngFor="let option2 of inputversion" [value]="option2.nom_version">
            {{option2.nom_version}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    </div>
<br>
<br>
<div>
    <h3>nom collaborateur</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form class="nom_collab_form">
      <mat-form-field class="example-full-width">
        <mat-label>{{config.nom_collab}}</mat-label>
        <input  class="form-control" [(ngModel)]="nom.nom_collab" type="text" matInput [formControl]="myControlNomCollab" [matAutocomplete]="auto5">
        <mat-autocomplete (optionSelected)="envoyerNomCollab();" #auto5="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of inputnom" [value]="option.first_name">
            {{option.first_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>




      <h2>Intervalle de date :</h2>

      <div fxLayout="row" fxLayoutAlign="start start" >
        <h3>Du : </h3>
        
<form class="Date_form">
      <mat-form-field> 
        <input  placeholder="{{config.date_deb}}"
        name="something"
        [(ngModel)]="datedeb.date_deb" (dateChange)=envoyerDateDeb();
        class="form-control"
         matInput [matDatepicker]="myDatePickerDeb">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerDeb"></mat-datepicker-toggle>
        <mat-datepicker  #myDatePickerDeb> </mat-datepicker>
      </mat-form-field>
    </form>
      <h3>Au :  </h3>
      <form class="Date_form2">
      <mat-form-field> 
      
        <input placeholder="{{config.date_fin}}"
        name="something2"
         class="Date_form2" [(ngModel)]="datefin.date_fin" (dateChange)=envoyerDateFin(); matInput [matDatepicker]="myDatePickerFin">
        <mat-datepicker-toggle  matSuffix [for]="myDatePickerFin"></mat-datepicker-toggle>
        <mat-datepicker  #myDatePickerFin> </mat-datepicker>
      </mat-form-field>
    </form>
    </div>

