
        <div>
            <app-config-closed-returned-tickets>
                
            </app-config-closed-returned-tickets>
        </div>
       <br>
    

        
    <div class="container text-center">
        <h1 align="center"> Proportion Tickets Validated VS test failed </h1>
    </div>
         <br>
    <div>
        <div fxFlex="75" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="75" >
    
            <mat-form-field class="example-full-width">
            <div class="search-product">
                <input matInput color="black"
               type="text"
               name="search" [(ngModel)]="search" autocomplete="off"
               placeholder="recherche"
               >
            </div>
    
               </mat-form-field>
                
            
             
            <table>
    <thead>
        <tr>
            <th> collaborateur assigné</th>
            <th> date création</th>
            <th> epic </th>
            <th> module </th>
            <th> numero_sprint </th>
            <th> version </th>
            <th> etat </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let TicketsProportion of TicketsProportions |paginate: { itemsPerPage: 5, currentPage: p }| filter:search ">
            <td>{{TicketsProportion.first_name }}</td>
            <td>{{TicketsProportion.date_creation}}</td>
            <td>{{TicketsProportion.nom_epic}}</td>
            <td>{{TicketsProportion.nom_module}}</td>
            <td>{{TicketsProportion.numero_sprint}}</td>
            <td>{{TicketsProportion.nom_version}}</td>
            <div *ngIf="TicketsProportion.id_statut==1">
                <td>validated</td>
            </div>
            <div *ngIf="TicketsProportion.id_statut==2">
                <td>Test failed</td>
            </div>
            
        </tr>
    </tbody>
        
    
            </table>
          
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
         <div  fxLayout="column" fxLayoutAlign="space-around end"  fxFlex="75">
            <app-pie-chart  switch_Pie_chart="switch_Pie_chart">
    
            </app-pie-chart>
         </div>

        </div>

