

<br>
<div>
   <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="75" >
        <app-widget-table fxFlex="75"  title="répartition des tickets selon leurs versions" col_1="version" col_2="bloquant" col_3="critique" col_4="important">
            
        </app-widget-table>
   </div>

        <div fxLayout="column" fxLayoutAlign="space-around end"  fxFlex="75">

        
           <app-dynamic-chart>
              
           </app-dynamic-chart>
        
        </div>
        
</div>





